{% block sw_product_variants_delivery_variant_images %}
<div class="sw-product-variants-delivery-variant-images">
    {% block sw_product_variants_delivery_variant_images_content %}
    <sw-data-grid
        :is-loading="isLoading"
        :data-source="variantOptions"
        :columns="variantColumns"
        :show-selection="false"
        :is-record-editable="() => false"
        :is-record-selectable="() => false"
        :show-actions="false"
        :show-settings="false"
        :compact-mode="true"
        :show-header="true"
    >
        {% block sw_product_variants_delivery_variant_images_content_grid_column_color %}
        <template #column-colorName="{ item }">
            <span>{{ item.colorName }}</span>
        </template>
        {% endblock %}
        
        {% block sw_product_variants_delivery_variant_images_content_grid_column_image %}
        <template #column-image="{ item }">
            <div class="sw-product-variants-delivery-variant-images__image-wrapper">
                <sw-media-preview
                    v-if="item.media"
                    :source="item.media.url"
                    :show-controls="false"
                    :use-thumbnails="false"
                />
                <sw-icon
                    v-else
                    name="regular-image"
                    size="45px"
                />
                
                <sw-button
                    class="sw-product-variants-delivery-variant-images__upload-button"
                    size="small"
                    @click="onMediaUpload(item)"
                >
                    {{ $tc('vl-super-attribute.sw-product.variations.deliveryModal.uploadImage') }}
                </sw-button>
            </div>
        </template>
        {% endblock %}
    </sw-data-grid>
    {% endblock %}
</div>
{% endblock %}
